/* Reset margin, padding, dan box-sizing untuk semua elemen */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style untuk memastikan dark mode diaktifkan sejak awal */


/* Menonaktifkan transisi jika diperlukan */
.no-transition {
  transition: none !important;
}

/* Layout dasar untuk React App */
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style untuk konten utama dengan tampilan flex */
.min-h-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Konten dimulai dari atas */
  min-height: 100vh;
}
